In [4]:
import pandas
import numpy as np
index_tuples = [
    ("bar", "one"),
    ("bar", "two"),
    ("bar", "three"),
    ("bar", "four"),
    ("baz", "one"),
    ("baz", "two"),
    ("baz", "three"),
    ("baz", "four"),
    ("foo", "one"),
    ("foo", "two"),
    ("foo", "three"),
    ("foo", "four"),
    ("qux", "one"),
    ("qux", "two"),
    ("qux", "three"),
    ("qux", "four"),
]

column_tuples = [
    (1.1, 1),
    (1.1, 2),
    (1.1, 3),
    (1.1, 4),
    (2.2, 1),
    (2.2, 2),
    (2.2, 3),
    (2.2, 4),
    (3.3, 1),
    (3.3, 2),
    (3.3, 3),
    (3.3, 4),
    (4.4, 1),
    (4.4, 2),
    (4.4, 3),
    (4.4, 4)
]

pandas_index = pandas.MultiIndex.from_tuples(index_tuples, names=[("first", 1), ("second", 2)])
pandas_columns = pandas.MultiIndex.from_tuples(column_tuples, names=[("1st", 11), ("2nd", 22)])
frame_data = np.random.randint(0, 100, size=(16, 16))
pandas_df = pandas.DataFrame(
    frame_data,
    index=pandas_index,
    columns=["col{}".format(i) for i in range(16)],
)
pandas_df.columns = pandas_columns

In [5]:
pandas_df

('1st', 11)            1.1             2.2             3.3             4.4  \
('2nd', 22)              1   2   3   4   1   2   3   4   1   2   3   4   1
(first, 1) (second, 2)
bar        one          13  19  41  58  31   9  31  62  67  40  13  52  52
           two          44  55  99  64  77  22  95  77  75  92  37  52  72
           three        34  92  42  92  52   3  95  20  59  16  10  91   8
           four          4   9  21  44   4  57  43  71  63  50  73  16  55
baz        one          78  66  59  19  53  70  45  85  63  17  99  70  20
           two          34  39  64  39  71  22   7  65  96  47  25  87  82
           three        11  98  36  42  71  90  22   6  94  85  53  19  16
           four         79   6   8   1  62  65  75  79  32  10  87  40  85
foo        one           4  62  86  33  33  64  10  71  77  13  76  13  42
           two          82  12  59  23   3  62  88  65   3  67  15  16  27
           three        50  88  33  14  29  88  70  22  81  12  89  74  46
           four         40  48  82  40  53  93  60  39  92  44  36  33  81
qux        one          72  16  14  59   9  82  44  20  34  15   9  35   6
           two          45  68  75  92  34  49   8  25  86  66  50  88  10
           three         8  89  97  77  17  98  40  75  74   2  94  21  32
           four         20  47  12   2  96  39  86  74  24  17  61  50  52

('1st', 11)
('2nd', 22)              2   3   4
(first, 1) (second, 2)
bar        one          13  17  19
           two          33  77  37
           three        79  45  13
           four         31  38  94
baz        one          84  35  84
           two          92  31  71
           three         7  91  88
           four         69   1  20
foo        one          46  29  28
           two           1  70  31
           three        61  30  85
           four         63  68  55
qux        one          94  99  62
           two          50  62  24
           three        50  48  16
           four         80  76  56

In [8]:
pandas_df.reset_index(level=[("first", 1), 1])

('1st', 11) first second 1.1             2.2             3.3             4.4  \
('2nd', 22)     1      2   1   2   3   4   1   2   3   4   1   2   3   4   1
0             bar    one  13  19  41  58  31   9  31  62  67  40  13  52  52
1             bar    two  44  55  99  64  77  22  95  77  75  92  37  52  72
2             bar  three  34  92  42  92  52   3  95  20  59  16  10  91   8
3             bar   four   4   9  21  44   4  57  43  71  63  50  73  16  55
4             baz    one  78  66  59  19  53  70  45  85  63  17  99  70  20
5             baz    two  34  39  64  39  71  22   7  65  96  47  25  87  82
6             baz  three  11  98  36  42  71  90  22   6  94  85  53  19  16
7             baz   four  79   6   8   1  62  65  75  79  32  10  87  40  85
8             foo    one   4  62  86  33  33  64  10  71  77  13  76  13  42
9             foo    two  82  12  59  23   3  62  88  65   3  67  15  16  27
10            foo  three  50  88  33  14  29  88  70  22  81  12  89  74  46
11            foo   four  40  48  82  40  53  93  60  39  92  44  36  33  81
12            qux    one  72  16  14  59   9  82  44  20  34  15   9  35   6
13            qux    two  45  68  75  92  34  49   8  25  86  66  50  88  10
14            qux  three   8  89  97  77  17  98  40  75  74   2  94  21  32
15            qux   four  20  47  12   2  96  39  86  74  24  17  61  50  52

('1st', 11)
('2nd', 22)   2   3   4
0            13  17  19
1            33  77  37
2            79  45  13
3            31  38  94
4            84  35  84
5            92  31  71
6             7  91  88
7            69   1  20
8            46  29  28
9             1  70  31
10           61  30  85
11           63  68  55
12           94  99  62
13           50  62  24
14           50  48  16
15           80  76  56

In [30]:
lst = pandas_df.columns.tolist()
lst[10] = ("aaa", "bbb")
pandas_df2 = pandas_df.copy()
pandas_df2.columns = pandas.MultiIndex.from_tuples(lst)
pandas_df2.columns

MultiIndex([(  1.1,     1),
            (  1.1,     2),
            (  1.1,     3),
            (  1.1,     4),
            (  2.2,     1),
            (  2.2,     2),
            (  2.2,     3),
            (  2.2,     4),
            (  3.3,     1),
            (  3.3,     2),
            ('aaa', 'bbb'),
            (  3.3,     4),
            (  4.4,     1),
            (  4.4,     2),
            (  4.4,     3),
            (  4.4,     4)],
           )

In [35]:
[1] * (-0)

[]